@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700&display=swap');

:root{
    --brown: #a87735;
    --lightYealow: #f3e1a1;
    --lightBlue: #89bace;
    --green: #446352;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Arima Madurai', cursive;
}
body{
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--lightBlue);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    min-width: 375px;
}

#draw_card{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* display: none; */
}

h1{
    color: var(--green);
    font-size: 2rem;
    font-weight: 700;
}
.selected_card{
    margin-top: 10px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.selected_card div{
    width: 33.3%;     /* devide same width for div */
}
.selected_card div img{
    width: 60%;
    box-shadow: var(--green) 0px 8px 24px;
    transition: 300ms;
}
.selected_card div img:hover{
    transform: scale(1.2);
}
.middle_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#First_Card{
    margin-top: 25%;
}
#Third_Card{    
    margin-bottom: 25%;
}

.btnContainer{
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#SendBtn{
    border: none;
    height: 2rem;
    width: 5.5rem;
    border-radius: 5px;
    background-color: var(--green);
    color: white;
    transition: 300ms;
    box-shadow: var(--green) 0px 8px 24px;
    font-weight: 300;
    display: none;
}
#SendBtn:hover{
    transform: scale(1.2)
}

.guide_text{
    width: 60%;
    margin-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#text_message{
    height: auto;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--lightYealow);
    color: var(--brown);
    font-weight: 600;
    line-height: 1.4rem;
}
#text_message p{
    transition: 300ms;
}
.deck_of_cards{
    margin-left: -10%;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,  calc(100%/23)) ;
}
.deck_of_cards > div{
    width: calc(100% / 23*50);
}
.deck_of_cards img{
    width: 100%;
    transition: 500ms;
    position: relative;
}
.deck_of_cards img:hover{
    transform: translatey(-20%);
}
.choosen_card{
    display: none;
}